# Java / Maven
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*
